body {
    font-family: 'Nunito Sans', sans-serif;
}
header {
    border-bottom: 1px solid #DEDEDE;
}
.container {
    max-width: 1180px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
    
}
.header {
    display: flex;
    font-family: 'Open Sans', sans-serif; 
    justify-content: space-between;
    padding-top: 26px;
    padding-bottom: 24px;
    align-items: center;
}
.header-item {
    display: flex;
    justify-content: space-between;
    flex-basis: 68.4%;
    align-items: center;
}
.header-nav {
    display: flex;
    list-style-type: none;
    gap: 46px;
    padding-left: 0;
}
.header-logo {
    display: block;
    background-image: url(../images/logo.svg);
    background-repeat: no-repeat;
    width: 176px;
    height: 56px;
}
.nav__link {
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    color: #443737;
}
.nav__link:hover {
    color: #FFC725;
}
.header button {
    font-size: 15px;
    font-weight: 700;
    color: #443737;
}
.header-nav .active::after {
    background: #FFC725;
}
.nav__link::after {
    content: '';
    width: 100%;
    height: 3px;
    background: transparent;
    border-radius: 1.5px;
    display: block;
}
.button {
    display: flex;
    align-items: center;
    background: transparent;
    border: none;
    padding: 0;
    gap: 7px;
    cursor: pointer;
}
.button-item {
    position: relative;
}
.button-count {
    font-family: 'Lato', sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3;
    color: #FFFFFF;
    background: #F37335;
    border-radius: 100%;
    width: 17px;
    height: 17px;
    position: absolute;
    bottom: 3px;
    right: -4px;
}
.bg {
    text-align: center;
    background-image: url(../images/bg.jpg);
    background-size: cover;
    background-position: center center;
    padding: 139px 0;
    margin-bottom: 140px;
}
.breadcrumbs {
    display: flex;
    list-style-type: none;
    gap: 7px;
    justify-content: center;
    padding-left: 0;
    margin-top: 2px;
}
.breadcrumbs a {
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    font-weight: 400;
    text-decoration: none;
    color: #DEDEDE;
}
.breadcrumbs a:hover {
    color: #FFC725;
}
.breadcrumbs a::before {
    content: "/";
    position: relative;
    left: -3px;
    pointer-events: none;
}
.breadcrumbs a:hover::before {
    color: #DEDEDE;
}
.breadcrumbs li:first-child a::before {
    display: none;
}
.title {
    font-size: 79px;
    font-weight: 700;
    color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}
.description {
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    font-weight: 400;
    line-height: 1.6;
    color: #FAF9F9;
    max-width: 320px;
    margin: 0 auto;
}
.banner-box {
    background-image: url(../images/banner-bg.jpg);
    background-position: center center;
    background-size: cover;
    padding: 101px 100px 120px;
    margin-bottom: 83px;
 }
.banner-title span {
    color: #FFFFFF;
    font-family: 'Open Sans', sans-serif; 
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    background: #F37335;
    padding: 5px 0;
    margin-bottom: 8px;
    border-radius: 14px;
    display: block;
    max-width: 95px;
    text-align: center;
}
.banner-title {
    color: #FFFFFF;
    font-size: 60px;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 15px;
}   
.banner-text {
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    font-weight: 400;
    line-height: 1.5;
    color: #FAF9F9;
    max-width: 330px;
    margin-bottom: 36px;
}
.banner-link {
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #1E2F40;
    padding: 18px 24px;
    background: #FBB731;
    border-radius: 5px;
    border: 1px solid #FBB731;
    transition: .2s;
}
.banner-link:hover {
    color: #FBB731;
    background: transparent;
}
.menu {
    padding-top: 20px;
}
.menu-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 36px;
}
.menu-header-title {
    font-size: 44px;
    font-weight: bold;
    text-transform: uppercase;
    color: #1B2A49;
    margin: 0;
}
.menu-select {
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    color: #443737;
    border: 1px solid #DEDEDE;
    border-radius: 22px;
    flex-basis: 279px;
    padding: 12px 30px;
    -webkit-appearance: none;
       -moz-appearance: none;
            appearance: none;
    background-image: url(../images/arrow.svg);
    background-repeat: no-repeat;
    background-position: 90% center;
}
.grid-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px 20px;
    margin-bottom: 102px;
}
.grid-menu-item {
    text-align: center;
}
.grid-menu-cover {
    width: 100%;
    height: 430px;
    position: relative;
    overflow: hidden;
}
.grid-menu-cover img {
    width: 100%;
    height: 430px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -o-object-fit: cover;
       object-fit: cover;
}
.grid-menu-title {
    font-size: 30px;
    font-weight: 600;
    color: #1B2A49;
    margin-top: 24px;
    margin-bottom: 0;
}
.grid-menu-price {
    font-size: 20px;
    font-weight: 700;
    color: #979797;
    margin-top: 7px;
    margin-bottom: 22px;
}
.menu-grid-btn {
    display: flex;
    justify-content: space-between;
    padding: 10px 37px 10px 58px;
    background: #FBB731;
    border: none;
    border-radius: 5px;
    margin: 0 auto;
    position: relative;
    transition: .2s;
}
.menu-grid-btn:hover {
    background: #F37335;
    cursor: pointer;
}
.grid-menu-icon {
    background-image: url(../images/cart-menu.svg);
    background-repeat: no-repeat;
    width: 18px;
    height: 18px;
    position: absolute;
    left: 30px;
    top: center;
}
.grid-menu-text a {
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    color: #1E2F40;
}
.footer {
    background: #1E2F40;
    color: #fff;
    padding-top: 117px;
    padding-bottom: 106px;
    margin-top: 142px;
}
.footer-box {
    display: flex;
    justify-content: space-between;
}
.footer-logo {
    width: 63px;
    height: 56px;
}
.footer-item {
    flex: 0 0 auto;
}
.footer-item h2 {
    font-size: 20px;
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 12px;
    margin-top: 0;
}
.footer-list li {
    margin-bottom: 9px;
    font-family: 'Open Sans', sans-serif; 
    font-size: 15px;
    color: #FAF9F9;
    font-weight: 700;
    line-height: 24px;
}
.footer-list a {
    color: #DEDEDE;
    text-decoration: none;
    font-weight: 400;
}
.footer-list a:hover {
    color: #FBB731;
}
.footer-item span {
    color: #DEDEDE;
    display: block;
    font-weight: 400;
    margin-bottom: 2px;
}
.footer-list-tel {
    margin-top: 0;
}
.footer-list-tel li {
    margin-bottom: 12px;
}
.footer-list-tel a {
    color: #FBB731;
    font-size: 20px;
    font-weight: 800;
}
.footer-list-tel a:hover {
    color: #DEDEDE;
}
.footer-list {
    padding-left: 0;
    list-style-type: none;
}
.button-up{
    text-decoration: none;
    text-transform: uppercase;
    background-color: #FBB731;
    color:#1E2F40; ;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 20px;
    border: none;
    border-radius: 5px;
    position: fixed;
    bottom: 20px;
    right: 20px;
    transition: 1s;
}
.button-up:hover {
    background: #F37335;
}
.button-up.hidden {
    opacity: 0;
}
.button-up.visible {
    orphans: 1;
}
/*Style INDEX */
.main {
    background: linear-gradient(180deg, #0C4C7B -100%, #1E2F40 100%);
}
.wrapper {
    max-width: 1180px;
    margin: 0 auto;
    display: flex;
    /* justify-content: space-between; */
    gap: 10px;
}
.content {
    color: #FAF9F9;
    flex: 0 0 580px;
    padding-top: 170px;
    padding-bottom: 170px;
}
.content-title {
    font-size: 120px;
    font-weight: 800;
    text-transform: uppercase;
    line-height: 142px;
    margin-bottom: 34px;
    margin-top: 0;
}
.content-title span {
    color: #FBB731;
    font-size: 30px;
    font-weight: 700;
    line-height: 38px;
    display: block;
    margin-bottom: 10px;
}
.content-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    line-height: 1.4;
    margin-bottom: 48px;
}
.content-link,
.promo a {
    color: #1E2F40;
    background-color: #FBB731;
    border-radius: 5px;
    text-decoration: none;
    padding: 21px 48px;
    display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
}
.visual {
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.visual-bg {
    width: 432px;
    height: 100%;
    background: linear-gradient(2.42deg, #F37335 -19.6%, #FBB731 100.79%, #FDC830 100.79%);
}
.main img {
    width: 829px;
    position: absolute;
    right: -168px;
}
.promo {
    padding-top: 186px;
    padding-bottom: 46px;
}
.promo-left,
.promo-right {
    flex: 0 0 49.2%;
    color: #fff;
    box-sizing: border-box;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.promo-left {
    background-image: url(../images/promo-left.png);
    padding: 108px 43px 95px;
}
.promo-right {
    background-image: url(../images/promo-right.png);
    padding: 102px 49px;
}
.sale {
    font-size: 14px;
    font-weight: 900;
    background: #F37335;
    padding: 5px 19px;
    border-radius: 14px;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 6px;
    margin-top: 8px;
}
.cost {
    font-size: 60px;
    font-weight: 900;
    margin-bottom: 8px;
    margin-top: 0;
}
.promo-description {
    font-family: 'Open Sans', sans-serif;
    color: #FAF9F9;
    font-size: 15px;
    line-height: 1.5;
    margin-bottom: 0;
}
.promo-left .promo-description {
    max-width: 392px;
}
.promo-right .promo-description {
    max-width: 300px;
    margin-bottom: 22px;
}
.free {
    font-size: 44px;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 0;
}

/* Modal*/
.burger {
    width: 34px;
    height: 22px;
    background-color: transparent;
    background-image: url(../images/burger-mobile.svg);
    background-repeat: no-repeat;
    background-size: contain;
    border: none;
    cursor: pointer;
}
#modal {
    max-width: 500px;
    background-color: cornsilk;
    text-align: center;
    position: absolute;
    top: -400px;
    left: 0;
    right: 0;
    margin: 20px auto 0;
    transition: 0.5s;
    padding: 40px 30px;
    box-sizing: border-box;
}
#modal .header-nav {
    flex-direction: column;
    max-width: 300px;
    margin: 0 auto;
    align-items: center;
}
.burger-close {
    width: 22px;
    height: 22px;
    background-color: transparent;
    border: none ;
    background-image: url(../images/burger-close-btn.svg);
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}


/* Responsive */ 
@media (min-width: 1001px) {
    .footer-list + .footer-list-tel {
        display: none;
    }
}

@media (max-width: 1000px) {
    .container {
        max-width: 738px;
    }
    .header-logo{
        width: 150px;
        height: 48px;
        background-size: contain;
    }
    .header-nav{
        gap: 22px;
    }
    .header-item{
        flex-basis: 75.6%;
    }
    .bg{
        margin-bottom: 72px;
    }
    .banner-box{
    background-position: -80px center;
    padding: 101px 32px 118px;
    }    
    .menu-grid {
        grid-template-columns: repeat(2, 1fr);
        gap: 50px 15px;
    }
    .extra-menu{
        overflow: hidden;
        height: 558px;
    }
    .extra-menu .menu-grid{
        display: flex;
        width: auto;
        overflow-x: scroll;
        overflow-y: hidden;
        padding-bottom: 50px;
    }
    .extra-menu .menu-grid-item{
        flex: 0 0 281px;
    }
    .extra-menu .menu-grid-cover,
    .extra-menu .menu-grid-cover img {
        height: 320px;
    }

    .footer{
        padding-bottom: 71px;
    }
    .footer-box{
        display: flex;
        flex-wrap: wrap;
        flex-direction: inherit;
    }
    .button-up{
        padding: 5px 10px;
    }
    .footer-tel {
        display: none;
    }
    .footer-list + .footer-list-tel {
        display: block;
    }
}

@media (min-width: 766px) {
    .header-burger {
        display: none;
    }
}

@media (max-width: 765px) {
    nav {
        display: none;
    }
    .header {
        gap: 21px;
    }
    .button-up.visible {
        display: none;
    }
}
@media (max-width: 696px) {
    .footer-box {
       flex-wrap: nowrap;
    }
}
@media (max-width: 567px) {
    .header {
        padding-top: 19px;
        padding-bottom: 19px;
    }
    .header-logo {
        width: 116px;
        height: 37px;
    }
    #modal {
        margin: 0 auto 0;
    }
    .breadcrumbs a {
        font-size: 14px;
    }
    .bg {
        margin-bottom: 33px;
    }
    main {
        margin-top: 0;
    }
    .title {
        font-size: 38px;
    }
    .description {
        font-size: 12px;
    }
    .bg {
        padding: 55px 0px;
    }
    .banner-box {
        background-position: 17% center;
        padding: 35px 24px 54px;
        margin-bottom: 40px;
    }
    .menu-title {
        font-size: 27px;
    }
    .menu-header {
        margin-bottom: 30px;
    }
    .menu-select {
        font-size: 12px;
        padding: 13px 24px 13px 15px;
        flex-basis: 136px;
        background-position: 91% center
    }
    .menu-grid {
        gap: 25px 15px;
        margin-bottom: 40px;
    }
    .menu-grid-cover {
        height: 56vw;
    }
    .menu-grid-cover img {
        height: 100%;
        margin-bottom: 10px;
    }
    .menu-grid-title {
        font-size: 15px;
    }
    .menu-grid-price {
        font-size: 16px;
        margin-top: 6px;
        margin-bottom: 14px;
    }
    .menu-grid-btn {
        padding: 10px 21px 10px 56px;
    }
    .extra-menu {
        height: 108vw;
    }
    .extra-menu .menu-grid {
        padding-bottom: 24vw;
    }
    .extra-menu .menu-grid-cover {
        height: 56vw;
    }
    .extra-menu .menu-grid-cover img {
        height: 100%;
    }
    .extra-menu .menu-grid-item {
        flex: 0 0 38vw;
    }
    .footer {
        margin-top: 28px;
        padding-top: 60px;
        padding-bottom: 41px;
    }
    .footer-list + .footer-list-tel {
        display: none;
    }
    .footer-tel {
        display: block;
        text-align: right;
    }
    .footer-box {
        display: grid;
        grid-template-columns: 30% 1fr;
        grid-template-areas: "logo tel" "link link" "info info";
        gap: 30px;
    }
    .footer-item:nth-child(1) {
        grid-area: logo;
    }
    .footer-item:nth-child(2) {
        grid-area: link;
    }
    .footer-item:nth-child(3) {
        grid-area: info;
    }
    .footer-tel {
        grid-area: tel;  
    }
    .footer-item h2 {
        font-size: 18px;
    }
}
@media (max-width: 381px) {
.extra-menu {
    height: 115vw;
    }
}

@media (max-width: 360px) {
    .header-logo{
        width: 116px;
        height: 37px;
        background-size: contain;
    }
    .bg {
        padding: 58px 0px;
        background-position: 20% center;
    }
    .menu-grid-title {
        font-size: 13px;
        line-height: 20px;
    }
    .footer-tel {
        padding-right: 15px;
    }
    .footer-list-tel a {
        font-size: 18px;
    }
}
@media (max-width: 344px) {
    .banner-box {
        background-position: 20% center;
        margin-bottom: 53px;
    }
    .menu-grid {
        gap: 25px 5px;
    }
    .menu-grid-cover {
        height: 53vw;
    }
    .menu-grid-cover img {
        margin-bottom: 0;
    }
    .menu-grid-title {
        margin-top: 7px;
    }
    .menu-grid-price {
        font-size: 16px;
        margin-top: 4px;
        margin-bottom: 12px;
    }
    .menu-grid-btn {
        padding: 10px 84px 10px 45px;
        max-width: 129px;
        margin: 0 auto;
    }
    .menu-grid-icon {
        width: 16.6px;
        left: 21px;
    }
    .extra-menu {
        margin-top: 64px;
    }
    .menu-header {
        margin-bottom: 32px;
    }
    .extra-menu .menu-grid-cover {
        height: 54vw;
    }
    .extra-menu .menu-grid-item {
        flex: 0 0 41vw;
    }
    .footer {
        margin-top: 38px;
    }
    .footer-box {
        gap: 24px;
    }
    .footer-list-tel a {
        font-size: 20px;
        line-height: 23px;
    }
    .footer-tel {
        padding-right: 0;
    }
}
@media (max-width: 321px) {
.footer-box {
    gap: 12px;
    }
}
